<script setup>
import { ref, computed, watch, onMounted, onBeforeUnmount } from "@vue/runtime-core";
import { useStore } from "vuex";
import { isEqual } from "lodash";
import { nanoid } from "nanoid";
import { hasKey } from "@/utils";
import { Handle, Position, MarkerType, useVueFlow } from "@vue-flow/core";
import FormDefault from "@components/Form/FormDefault.vue";
import PopUp from "@components/Template/PopUp.vue";

const props = defineProps({
  index: { type: Number, required: true },
  isFirst: { type: Boolean, required: true },
  isLast: { type: Boolean, required: true },
  actionId: { type: String, required: true },
  stateId: { type: String, required: true },
  stateName: { type: String, required: true },
  stateSelected: { type: Boolean, required: true },
});

const flow = useVueFlow();
const store = useStore();

const isValid = ref(true);
let isMarkedDeleted = false;
const isDragging = ref(false);
const hideEdge = ref(false);

const isLive = computed(() => store.state.live.isLive);
const isSelected = computed(() => store.state.level.selectedAction == props.actionId);
const action = computed(() => {
  // console.log("action changed", props.actionId);
  return store.getters["level/actionInfo"](props.actionId);
});
const schema = computed(() => action.value?.schema?.properties?.payload);
const pluginStyle = computed(() => store.getters["adaptor/cssClassesByPlugin"](action.value.plugin));
const stateNameList = computed(() => store.getters["level/statesNameList"]);

function deleteAction() {
  isMarkedDeleted = true;
  store.dispatch("level/deleteAction", {
    actionId: props.actionId,
    stateId: props.stateId,
  });
}

function selectAction(actionId) {
  if (isLive.value) return;
  store.dispatch("level/selectAction", { stateId: props.stateId, actionId });
}

function updateAction(value) {
  if (isMarkedDeleted) return;
  store.dispatch("level/updateAction", {
    value,
    actionId: props.actionId,
    stateId: props.stateId,
  });
}

function shiftAction(direction) {
  store.dispatch("level/shiftAction", {
    stateId: props.stateId,
    mode: action.value.mode,
    index: props.index,
    direction,
  });
}

function copyAction() {
  store.dispatch("level/copyAction", {
    stateId: props.stateId,
    actionId: props.actionId,
    actionTitle: action.value.title,
    actionName: action.value.action,
    actionData: action.value.data,
  });
}

function setIsValid(result) {
  isValid.value = result.valid;
}

function setDragPayload(e, actionId) {
  // FIXME: no drag symbol and image in safari
  // FIXME: hack to hide edges from drag ghost image
  hideEdge.value = true;
  setTimeout(() => (hideEdge.value = false), 100);

  e.dataTransfer.setData("actionId", actionId);
  e.dataTransfer.setData("originState", props.stateId);

  isDragging.value = true;
}

function onDragEnd() {
  isDragging.value = false;
}

function log(...e) {
  console.log(...e);
}

onMounted(() => {
  if (!action?.value?.body) return;
  addEdges(action.value.body);
});

onBeforeUnmount(() => deleteEdges());

watch(action, (newValue, oldValue) => {
  if (!newValue?.body || isEqual(newValue?.body, oldValue?.body)) return;
  updateEdges(newValue.body);
});

// Note: watch all State name updates, because we use the name as the target for edges
watch(stateNameList, () => {
  if (!action.value?.body) return;
  updateEdges(action.value.body);
});

function addEdges(actionBody) {
  let edges = [];
  for (let i = 0; i < actionBody.length; i++) {
    const row = actionBody[i];
    if (!hasKey(row, "next")) continue;
    edges.push({
      id: props.actionId + nanoid(10),
      actionId: props.actionId,
      type: "smoothstep",
      source: props.stateName,
      target: row.next,
      sourceHandle: buildHandleId(props.stateName, props.actionId, i),
      label: "",
      animated: false,
      markerEnd: MarkerType.ArrowClosed,
      class: () => (props.stateSelected && !isLive.value ? "animated" : ""),
      style: { stroke: getEdgeColor(row.next) },
    });
  }
  flow.addEdges(edges);
}

function deleteEdges() {
  const edges = flow.edges.value;
  const actionEdges = edges.filter((e) => e.actionId == props.actionId);
  flow.removeEdges(actionEdges);
}

// TODO: make this a real update
function updateEdges(actionBody) {
  deleteEdges();
  addEdges(actionBody);
}

function buildHandleId(S, A, index) {
  const separator = "///";
  return S + separator + A + separator + index;
}

function getEdgeColor(next) {
  let sName = props.stateName;
  if (action.value.action === "split") sName = next;
  return store.getters["level/colorByStatePath"](sName);
}
</script>

<template>
  <div
    class="is-relative has-border mt-2 mr-1 mb-2 ml-2 p-1 is-unselectable"
    :class="[pluginStyle, isDragging ? 'is-busy' : '']"
  >
    <!-- DEFAULT SHOW ACTION INFOS -->
    <div
      draggable="true"
      class="is-cursor-pointer"
      @dragstart.stop="setDragPayload($event, actionId)"
      @dragend.stop="onDragEnd"
      @mousedown.stop
    >
      <div class="is-flex is-align-items-center">
        <span class="is-flex-grow-1 icon-text has-text-weight-bold" @click="selectAction(actionId)">
          <span class="">{{ action.title }}</span>
          <span class="icon">
            <Icon
              v-if="!isValid"
              class="has-text-danger has-background-light"
              :interactive="false"
              :icon="'alert-triangle'"
            />
          </span>
        </span>
        <PopUp v-if="!isLive && !hideEdge">
          <template #anchor="{ togglePopup }">
            <div class="is-flex is-justify-content-center" @click="togglePopup">
              <Icon :icon="'menu'" />
            </div>
          </template>
          <template #content="{ togglePopup }">
            <div
              class="dropdown-item is-interactive-2"
              @click="
                copyAction();
                togglePopup();
              "
            >
              <span class="icon-text is-interactive is-flex-wrap-nowrap">
                <span class="icon">
                  <Icon :icon="'copy'" />
                </span>
                <span>
                  Copy
                  <i>{{ action.title }}</i>
                </span>
              </span>
            </div>
            <hr v-if="!isFirst && action.action != 'next'" class="dropdown-divider" />
            <div
              v-if="!isFirst && action.action != 'next'"
              class="dropdown-item is-interactive-2"
              @click.stop="
                shiftAction(-1);
                togglePopup();
              "
            >
              <span class="icon-text is-interactive is-flex-wrap-nowrap">
                <span class="icon">
                  <Icon :icon="'corner-left-up'" />
                </span>
                <span>Move Upwards</span>
              </span>
            </div>
            <hr v-if="!isLast" class="dropdown-divider" />
            <div
              v-if="!isLast"
              class="dropdown-item is-interactive-2"
              @click.stop="
                shiftAction(1);
                togglePopup();
              "
            >
              <span class="icon-text is-interactive is-flex-wrap-nowrap">
                <span class="icon">
                  <Icon :icon="'corner-left-down'" />
                </span>
                <span>Move Downwards</span>
              </span>
            </div>
            <hr class="dropdown-divider" />
            <div v-if="!isLive" class="dropdown-item is-interactive-2">
              <PopUp>
                <template #anchor="slotPropsDelete">
                  <span class="icon-text is-interactive" @click.stop="slotPropsDelete.togglePopup">
                    <span class="icon">
                      <Icon :icon="'trash-2'" />
                    </span>
                    <span>Delete Action</span>
                  </span>
                </template>
                <template #content="slotPropsDelete">
                  <div class="dropdown-item p-1">
                    <div class="field is-grouped is-justify-content-space-between">
                      <p class="control">
                        <button class="button is-danger" @click="deleteAction">Delete</button>
                      </p>
                      <p class="control">
                        <button class="button" @click="slotPropsDelete.togglePopup">Cancel</button>
                      </p>
                    </div>
                  </div>
                </template>
              </PopUp>
            </div>
          </template>
        </PopUp>
      </div>
    </div>
    <!-- CONTENT INFO -->
    <div v-if="!isSelected" class="is-interactive" @click.stop="selectAction(actionId)">
      <div v-if="action.subtitle" class="is-action-info" :class="[pluginStyle, 'light']">
        <p class="has-text-weight-bold has-text-lines-2">{{ action.subtitle }}</p>
      </div>
      <div
        v-for="(row, i) of action.body"
        :id="actionId + '-' + i"
        :key="actionId + '-' + i"
        class="is-flex is-flex-direction-column"
      >
        <div class="is-action-info is-relative is-flex is-align-items-center" :class="[pluginStyle, 'light']">
          <p v-if="row.text" class="has-text-lines-3 width-100">
            {{ row.text }}
            <Handle
              v-if="row.next || row.next == ''"
              :id="buildHandleId(stateName, actionId, i)"
              :position="Position.Right"
              :connectable="false"
              :class="{ 'is-not-connected': row.next == '' }"
              type="source"
            />
          </p>
          <p v-else-if="row.next || row.next == ''" class="width-100">
            next: {{ row.next }}
            <Handle
              :id="buildHandleId(stateName, actionId, i)"
              :position="Position.Right"
              :connectable="false"
              :class="{ 'is-not-connected': row.next == '' }"
              type="source"
            />
          </p>
          <p v-else class="has-text-lines-3 width-100">&nbsp;</p>
        </div>
      </div>
    </div>
    <!-- IF ACTION SELECTED SHOW EDITOR -->
    <div v-else>
      <FormDefault
        :id="actionId"
        :data="action.data"
        :schema="schema"
        @on-confirm="(data) => updateAction(data)"
        @on-cancel="log('revert editor change')"
        @on-close="selectAction(actionId)"
        @data-validation="setIsValid"
      />
    </div>
  </div>
</template>
