<script setup>
import { computed, watch } from "vue";
import { i18n } from "@utils";
import { useStore } from "vuex";
import { VueFlow, useVueFlow } from "@vue-flow/core";
import { Background } from "@vue-flow/background";
import { Controls } from "@vue-flow/controls";
import { MiniMap } from "@vue-flow/minimap";
import StateNode from "@/components/Level/StateNode.vue";

const options = {
  deleteKeyCode: false,
  selectionKeyCode: "Shift",
  zoomActivationKeyCode: "Meta",
  zoomOnScroll: false,
  panOnScroll: true,
  panOnScrollMode: "Free", //Free, Horizontal, Vertical
  fitViewOnInit: false, // overwrites defaultViewport zoom level
  defaultViewport: { zoom: 0.75 },
  maxZoom: 1.5,
  minZoom: 0.25,
  snapToGrid: true,
  snapGrid: [1, 1],
};

const store = useStore();
const flow = useVueFlow(options);

let isNewLevelView = true;
const level = computed(() => store.state.level.data);
const isLive = computed(() => store.state.live.isLive);
const stateNodes = computed(() => {
  if (!level.value.states) return [];
  const result = [];
  Object.entries(level.value.states).forEach(([sId, v]) => {
    result.push({
      id: v.name,
      type: "adaptorState",
      data: { id: sId },
      ...v.view,
    });
  });
  return result;
});

// EVENT HANDLER
flow.onPaneReady(() => initView());
// flow.onNodeDragStart(() => (dragging = true));
// flow.onNodeDragStop(() => (dragging = false));
// flow.onSelectionDragStart((params) => console.log("selection drag start", params));
// flow.onSelectionDragStop((params) => console.log("selection drag stop", params));
// flow.onEdgesChange((changes) => console.log(changes));
// flow.onConnect((params) => console.log(params));
let multiSelection = false;
flow.onSelectionStart(() => (multiSelection = true));
flow.onSelectionEnd(() => (multiSelection = false));
flow.onPaneClick(() => store.dispatch("level/unselectAll"));
flow.onNodesChange((changes) => {
  for (const change of changes) {
    // logs, 'add', 'remove', 'dimensions', 'select', 'position'
    switch (change.type) {
      case "select":
        if (multiSelection) return;
        if (change.selected) {
          const stateId = flow.findNode(change.id).data.id;
          store.dispatch("level/selectState", stateId);
        }
        break;
      case "position":
        if (!change.dragging) {
          const node = flow.findNode(change.id);
          const stateId = node.data.id;
          const position = node.position;
          if (position.x == change.from.x && position.y == change.from.y) return;
          store.dispatch("level/updateStatePosition", { stateId, position });
        }
        break;
      case "dimensions":
        if (change.id == "START" && isNewLevelView) initView();
        break;
    }
  }
});

function onDrop(event) {
  const { left, top } = flow.vueFlowRef.value.getBoundingClientRect();
  const position = flow.project({ x: event.clientX - left, y: event.clientY - top });
  const actionName = event.dataTransfer?.getData("action");
  const asset = event.dataTransfer?.getData("asset");
  const actionId = event.dataTransfer?.getData("actionId");
  const originState = event.dataTransfer?.getData("originState");
  if (actionName) {
    store.dispatch("level/addState", { actionName, position });
  }
  if (asset) {
    const message = i18n("ERROR.ASSET_ON_STAGE", { asset });
    store.dispatch("adaptor/addLog", { type: "error", message });
  }
  if (actionId) {
    store.dispatch("level/moveExistingActionToNewState", { originState, actionId, position });
  }
}

function initView() {
  flow.fitView({
    nodes: ["START"],
    maxZoom: 0.5,
    offset: { x: -200, y: -200 },
    duration: 500,
  });
  isNewLevelView = false;
}

watch(isLive, () => (flow.nodesDraggable.value = !isLive.value));
watch([() => store.state.level.id], () => (isNewLevelView = true));
</script>

<template>
  <VueFlow :nodes="stateNodes" @drop="onDrop" @dragover.prevent>
    <template #node-adaptorState="{ id, data, selected, events }">
      <StateNode :state-name="id" :data="data" :selected="selected" :events="events" />
    </template>
    <Background :pattern-color="'#aaa'" gap="15" />
    <MiniMap pannable />
    <Controls :show-interactive="!isLive" />
  </VueFlow>
</template>
