<script setup>
import { onBeforeUnmount, ref } from "vue";

defineProps({
  unfoldUp: { type: Boolean, default: false },
  unfoldRight: { type: Boolean, default: false },
});
const emit = defineEmits(["isOpen", "isClosed"]);

const isOpen = ref(false);
let firstClickFlag = true;

function toggle() {
  isOpen.value ? close() : open();
}

function open() {
  isOpen.value = true;
  emit("isOpen");
  document.addEventListener("click", close);
}

function close() {
  if (firstClickFlag) return (firstClickFlag = false);
  isOpen.value = false;
  emit("isClosed");
  document.removeEventListener("click", close);
  firstClickFlag = true;
}

onBeforeUnmount(() => document.removeEventListener("click", close));
</script>

<template>
  <div class="dropdown" :class="{ 'is-active': isOpen, 'is-up': unfoldUp, 'is-right': unfoldRight }">
    <div class="dropdown-trigger is-flex is-align-items-center">
      <slot name="anchor" :toggle-popup="toggle">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3" @click="toggle()">
          {{ isOpen ? "close" : "open" }}
        </button>
      </slot>
    </div>
    <!-- prevent click propagation because of event listener to toggle popup on click -->
    <div
      id="dropdown-menu"
      class="dropdown-menu p-1"
      :class="{ 'is-hidden': !isOpen }"
      role="menu"
      @click.stop
      @mousedown.stop
    >
      <div class="dropdown-content p-1 has-border">
        <slot name="content" :toggle-popup="toggle"></slot>
      </div>
    </div>
  </div>
</template>
