<script setup>
import { computed } from "vue";
import { escapeRegExpChars } from "@utils";

const props = defineProps({
  data: { type: Array, required: true },
  customLabel: { type: Function, required: false, default: undefined },
  filter: { type: String, required: false, default: "" },
  startDepth: { type: Number, required: false, default: 0 },
});

const items = computed(() => {
  if (!props.data) return [];
  return props.data.map((item) => {
    let newitem = {};
    let arr = item.split(".");
    let depth = arr.length - 1;
    let title = arr[depth].replace("]]", "").replace("[[", "");
    newitem["value"] = item;
    newitem["valueClean"] = item.replace(/^\[\[|\]\]$/g, "");
    newitem["title"] = title;
    newitem["depth"] = depth;

    return newitem;
  });
});

const filteredItems = computed(() => {
  const re = new RegExp(escapeRegExpChars(props.filter), "i");
  const filtered = items.value.filter((item) => {
    const value = JSON.stringify(Object.values(item));
    if (props.startDepth > 0 && item.depth < props.startDepth) return false;
    return re.test(value);
  });
  return filtered;
});

function getLabelValue(item) {
  if (typeof props.customLabel == "function") return props.customLabel(item);
  return item.title;
}

function setDragPayloadAsset(e, { value, asset }) {
  e.dataTransfer.setData("asset", asset);
  e.dataTransfer.setData("value", JSON.stringify(value));
}
</script>
<template>
  <div
    v-for="(item, index) in filteredItems"
    :key="index"
    class="p-1"
    :style="{ marginLeft: item.depth + 'rem' }"
    draggable="true"
    :title="item.value"
    @dragstart="setDragPayloadAsset($event, { asset: item.value })"
  >
    <div v-if="filter" class="is-size-7">{{ item.valueClean }}</div>
    <div
      class="tag is-medium is-grabbable"
      :class="{
        'has-background-purple-2': item.depth == 0,
        'has-background-purple-4': item.depth == 1,
        'has-background-purple-5': item.depth == 2,
      }"
    >
      {{ getLabelValue(item) }}
    </div>
  </div>
</template>
